@import "./m3/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav li {
    color: var(--md-sys-color-tertiary-container);
    transition: all 0.2s ease-in-out;
  }

  nav li:hover {
    color: var(--md-sys-color-tertiary);
    cursor: pointer;
  }

  body.dark nav li:hover {
    color: theme("colors.red.600");
  }
}

@layer utilities {

  nav li.active {
    color: var(--md-sys-color-tertiary);
    text-decoration: underline;
  }

  .btn-primary {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-tertiary);
    font-weight: theme("fontWeight.bold");
    padding: theme("padding.2") theme("padding.4");
    border-radius: theme("borderRadius.DEFAULT");
  }

  .btn-primary:hover {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-tertiary-container);
  }

  .app-content {
    @apply mx-auto;
  }

  @screen md {
    .app-content {
      @apply container;
    }
  }
}