@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav {
    /* @apply mds-on-surface mds-surface-text; */
  }

  nav li {
    transition: all 0.3s ease-in-out;
    border-radius: theme("borderRadius.full");
    padding: theme("padding.0") theme("padding[2.5]");
  }

  nav li:hover {
    /* background-color: var(--md-sys-color-surface-tint); */
    cursor: pointer;
  }

}

@layer utilities {
  nav li.active {
    /* background-color: var(--md-sys-color-tertiary); */
    padding: theme("padding.0") theme("padding.3");
  }

  nav li.active:hover {
    /* @apply mds-surface-text; */
  }

  .btn-primary {
    /* @apply mds-title-small; */
    /* background-color: var(--md-sys-color-tertiary-container); */
    /* color: var(--md-sys-color-tertiary); */
    font-weight: theme("fontWeight.bold");
    padding: theme("padding.2") theme("padding.4");
    border-radius: theme("borderRadius.DEFAULT");
    transition: all 0.2s ease-in-out;
  }

  .btn-primary:hover {
    /* background-color: var(--md-sys-color-tertiary); */
    /* color: var(--md-sys-color-tertiary-container); */
  }

  .app-content {
    @apply mx-auto;
  }

  @screen md {
    .app-content {
      @apply container;
    }
  }
}