@import "./m3/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav li {
    color: var(--md-sys-color-tertiary-container);
    transition: all 0.2s ease-in-out;
  }

  nav li:hover {
    color: var(--md-sys-color-tertiary);
    cursor: pointer;
  }

  body.dark nav li:hover {
    /* color: theme("colors.red.600"); */
    color: var(--md-sys-background-color);
  }
}

@layer utilities {

  nav li.active {
    background-color: var(--md-sys-color-tertiary);
    border-radius: theme("borderRadius.full");
    padding: theme("padding.0") theme("padding.3");
  }

  nav li.active:hover {
    /* background-color: var(--md-sys-color-tertiary-container); */
    /* color: var(--md-sys-color-tertiary-container); */
    color: initial;
  }

  .btn-primary {
    @apply mds-title-small;
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-tertiary);
    font-weight: theme("fontWeight.bold");
    padding: theme("padding.2") theme("padding.4");
    border-radius: theme("borderRadius.DEFAULT");
    transition: all 0.2s ease-in-out;
  }

  .mds-title-small {
    /* css for Material Design .title-small */
    font-family: var(--md-sys-typescale-title-small-font-family-name);
    font-style: var(--md-sys-typescale-title-small-font-family-style);
    font-weight: var(--md-sys-typescale-title-small-font-weight);
    font-size: var(--md-sys-typescale-title-small-font-size);
    letter-spacing: var(--md-sys-typescale-title-small-tracking);
    line-height: var(--md-sys-typescale-title-small-height);
    text-transform: var(--md-sys-typescale-title-small-text-transform);
    text-decoration: var(--md-sys-typescale-title-small-text-decoration);
  }

  .btn-primary:hover {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-tertiary-container);
  }

  .app-content {
    @apply mx-auto;
  }

  @screen md {
    .app-content {
      @apply container;
    }
  }
}